<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<div *ngIf="user">

  <div class="d-flex flex-row align-items-center">
    <img
        src="https://icons.iconarchive.com/icons/papirus-team/papirus-status/256/avatar-default-icon.png"
        alt="User icon"
    />
    <div>
        <div><span class="review-by">Review by&nbsp;</span><strong class="username">{{user[0].name}}</strong></div>
        <small class="text-muted">{{review.time |  date:'MM/dd/yyyy'}}</small>
    </div>
    
    <div class="ms-3">
      <span class="fa fa-star" [ngClass]="{ 'checked': review.score>= 1 }"></span>
      <span class="fa fa-star" [ngClass]="{ 'checked': review.score>= 1.5 }"></span>
      <span class="fa fa-star" [ngClass]="{ 'checked': review.score>= 2.5 }"></span>
      <span class="fa fa-star" [ngClass]="{ 'checked': review.score>= 3.5 }"></span>
      <span class="fa fa-star" [ngClass]="{ 'checked': review.score>= 4.5 }"></span>
    </div>
    
    
</div>

<div class="description">
  <p class="mb-1">{{review.description}}</p>
</div>
<hr class="m-2">



    


