<head>
  <script src="https://kit.fontawesome.com/0a66e31f85.js" crossorigin="anonymous"></script>
</head>
<div 
  class="container"
  *ngIf="movieDetails$ | async as movie">

  
  <!-- <pre>{{ movie | json }}</pre> -->
  

  <img 
        class="img-backdrop" 
        [src]="'https://image.tmdb.org/t/p/original' + movie.backdrop_path"
        [alt]="movie.title">

  <!-- Portfolio Item Heading -->
  <h1 class="my-4 text-white">{{ movie.title }}
    <small>
      <span class="duration">
        {{ movie.runtime + " minutes"}}
      </span>
    </small>
  </h1>

  <!-- Portfolio Item Row -->
  <div class="row">

    <div class="col-md-3">
      <img  
        class="img-fluid"
        id="poster" 
        [src]="'https://image.tmdb.org/t/p/original' + movie.poster_path"
        [alt]="movie.title">
    </div>

    <div class="col-md-6">
      <span 
        class="badge rounded-pill bg-success"
        *ngFor="let genre of movie.genres">
        {{ genre.name }}
      </span>

      <h3 class="my-3 text-white">Plot</h3>
      <p class=>{{ movie.overview }}</p>

      <h3 class="my-3 text-white">Budget</h3>
      <p class=>{{ movie.budget | currency}}</p>

      <h3 class="my-3 text-white">RATINGS</h3>
      <p> Imdb {{movie.vote_average}}</p>

      <h4 class="my-5"><a [href]="movie.homepage">Find out more!</a></h4>
    </div>




    <div class="col-md-3" id="sidebar">

      <ul class="row-1">
        <li><a><i class="fa-solid fa-heart fa-3x" [ngClass]="{'activeLiked': isLiked}" (click)="toggleLike()"></i></a></li>
        <li><a><i class="fa-solid fa-eye fa-3x" [ngClass]="{'activeWatched': isWatched}" (click)="toggleWatch()" ></i></a></li>
      </ul>
      <ul>
        <li class="font cont">{{likedTitle}}</li>
        <li class="font cont">{{watchedTitle}}</li>
      </ul>
      <hr>
      <div>
        <a (click)="openDialog(movie.title)" class="font">Review..</a>
      </div>
      <hr>
      <div>
        <a href="" class="font">Add to diary..</a>
      </div>
      <hr>
      <ul>
        <li><a href=""><i class="fa-brands fa-facebook fa-2x"></i></a></li>
        <li><a href=""><i class="fa-brands fa-twitter fa-2x"></i></a></li>
        <li><a href=""><i class="fa-brands fa-instagram fa-2x"></i></a></li>
      </ul>
    </div>

  </div>
  <!-- /.row -->

  
  <!-- REVIEWS -->
  <div class="row">
    <div class="reviews col-md-11">LATEST REVIEWS</div>
    <div class="col-md-1" id="more-label"><a (click)="showMoreReviews()">MORE</a></div>
  </div>
  <hr class="m-0">
  <app-review-card *ngFor="let review of reviews?.slice(0, numReviewsDisplayed); let i = index"
    [review]="review"
  ></app-review-card>
  
</div>
<!-- /.container -->
<app-footer></app-footer>