<app-nav-bar></app-nav-bar>
<div class="container">
    <div class="d-flex flex-row align-items-center justify-content-center m-3">
      <div class="form-group">
        <input 
          id="query" 
          type="text" 
          class="form-control" 
          [(ngModel)]="query"
          (keyup.enter)="getSearchResults()"
          placeholder="Search for your movie"
          >
      </div>
      <a (click)="getSearchResults()"><i class="fa-solid fa-magnifying-glass hover-pointer"></i></a>
    </div>
    
    <hr>
    
    <div *ngIf="!isSearched">
      <app-movies-row
      [movies]="popularMovies$ | async"
      [title]="'Most popular this week'"
      [isSecond]="false"
      >
    </app-movies-row>
    <app-movies-row
      [movies]="nowPlayingMovies$ | async"
      [title]="'Now playing in theater'"
      [isSecond]="true"
      >
    </app-movies-row>
    <app-movies-row
      [movies]="upcomingMovies$ | async"
      [title]="'Upcoming'"
      [isSecond]="false"
      >
    </app-movies-row>
    <app-movies-row
      [movies]="topRatedMovies$ | async"
      [title]="'Top Rated'"
      [isSecond]="true"
      >
    </app-movies-row>
    </div>
    

    <div class="row">
        <app-movie-card 
          *ngFor="let movie of movies$ | async"
          [movie]="movie"
          class="col-xl-2 col-lg-3 col-md-6 col-sm-6 col-xs-12">
        </app-movie-card>
      </div>
    
  </div>
  <app-footer></app-footer>


